.wrapper {
    border: 1px #fe5f1e solid;
    background-color: #fff;
    color: #fe5f1e;
    font-weight: bold;
    margin-top: 10px;
    padding: 100px 300px;
    display: block;
    position: relative;
    border-radius: 20px;
}

.arrowFrwrd {
    font-size: 35px;
    margin: 15px 0 0 15px;
    position: absolute;
    bottom: 105px;
    cursor: pointer;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 10px 10px 42px;
    width: 300px;
    border-radius: 12px;
    font-size: 16px;
}

.sbmtPhotoBtn {
    display: block;
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.yesBtn {
    font-size: 35px;
}

.yesBtn:hover {
    color: green;
}

.noBtn {
    color: red;
}

.noBtn {
    font-size: 35px;
    margin-left: 20px;
}

.btnContainer {
    border: 2px #fe5f1e solid;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}